/PyQtTest/.idea
/PyQtTest/__pycache__
/ChatProject/.idea
/MW3Randomizer/.idea
/MW3Randomizer/.idea/.name
/MW3Randomizer/.idea/encodings.xml
/MW3Randomizer/.idea/misc.xml
/MW3Randomizer/.idea/modules.xml
/MW3Randomizer/.idea/MW3Randomizer.iml
/MW3Randomizer/.idea/vcs.xml
/MW3Randomizer/.idea/workspace.xml
.idea
__pycache__
